<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum - Rocket.Q</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <!-- Chamando os scripts -->
    <script src="/scripts/main.js" defer type="module"></script>
  </head>
  <body>
    <div id="room" class="content">
      <header>
        <a href="/"><img src="/images/logo.svg" alt="logo" /></a>
        <div class="buttons">
          <div class="button outlined" id="room-id" data-id="<%=id%>">
            #<%= id %>
            <img src="/images/copy.svg" alt="Copiar número da sala" />
          </div>

          <a href="/create-pass" class="button">
            <img src="/images/users-white.svg" alt="Criar uma sala" />Criar sala
          </a>
        </div>
      </header>
      <main>
        <section id="question-form">
          <h2>Faça sua pergunta</h2>
          <form action="/question/create/<%= id %>" method="POST">
            <textarea
              name="question"
              id="question"
              cols="30"
              rows="10"
              placeholder="O que você quer perguntar?"
              aria-label="O que você quer perguntar?"
              autofocus
              required
            ></textarea>
            <footer>
              <div>
                <img src="/images/lock.svg" alt="Cadeado" />
                Esta pergunta é anônima
              </div>
              <button>Enviar</button>
            </footer>
          </form>
        </section>

        <section>
          <h2 class="sr-only">Perguntas da comunidade</h2>
          <div class="questions">
            <% questions.forEach(element=>{ %>
            <div class="question-wrapper">
              <div class="question-content">
                <div class="user"><img src="/images/user.svg" alt="" /></div>
                <div class="question">
                  <p><%= element.titulo%></p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="check" data-id="<%= element.id %>"
                  ><img
                    src="/images/check.svg"
                    alt="Check"
                    data-id="<%= element.id %>"
                  />Marcar como lida</a
                ><a href="#" class="delete" data-id="<%= element.id %>"
                  ><img
                    src="/images/trash.svg"
                    alt="Excluir"
                    data-id="<%= element.id %>"
                  />Excluir</a
                >
              </div>
            </div>

            <% }) %> <% questionsRead.forEach(questionRead=>{ %>
            <div class="question-wrapper read">
              <div class="question-content">
                <div class="user"><img src="/images/user.svg" alt="" /></div>
                <div class="question">
                  <p><%= questionRead.titulo%></p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="delete" data-id="<%= questionRead.id %>"
                  ><img
                    src="/images/trash.svg"
                    alt="Excluir"
                    data-id="<%= questionsRead.id %>"
                  />Excluir</a
                >
              </div>
            </div>
            <% }) %>
          </div>
        </section>
      </main>
    </div>

    <!-- Modal -->
    <div class="modal-wrapper">
      <div class="modal">
        <h2></h2>
        <p></p>
        <form action="/question/:room/:question/:action" method="POST">
          <input
            type="password"
            id="password"
            name="password"
            aria-label="Digite sua senha"
            placeholder="Digite a senha"
          />
          <div class="buttons">
            <div class="button grey">Cancelar</div>
            <button class="red"></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
